# Build directories
build/
dist/
*.egg-info/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
wheeltest/

# CMake
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/

# IDEs
.vscode/
.idea/

# Generated binaries
*.pyd
*.so
*.dll
*.obj
*.exp
*.lib

# Nsight reports
*.nsys-rep
*.sqlite
*.qdstrm
